<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ValidationSpecial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CF058841D828FCF001B6492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF058981D828FD0001B6492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF058A31D828FD0001B6492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
